<div class="row">

  <div class="col-lg-4">
    <h3> {{ title }} </h3>
    <ul class="list-group">
      <li class="list-group-item" role="presentation" routerLinkActive="active">
        <a [routerLink]="['listado']">Listado</a>
      </li>
      <li class="list-group-item" role="presentation" routerLinkActive="active">
        <a [routerLink]="['crear']">Crear</a>
      </li>
      <li class="list-group-item" role="presentation" routerLinkActive="active">
        <a [routerLink]="['ejemfirebase']">Ejemplo Firebase</a>
      </li>
      <!-- <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['editar']">Editar</a>
        </li> -->
    </ul>

  </div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
